*{
    font-family: 'PT Sans Caption', sans-serif;
}
html,
h1,
h2,
h3,
h4,
h5,
h6{
    color: #5c5b5b;
}
body
{
    background-color: #f6f6f6;
}
a{
    text-decoration: none;
    color: inherit;
}
input{
    padding: 10px 12px;
    display: block;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ececec;
    line-height: 1.5rem;
    color: #444444;

}

/*
    HEADER
*/
header{
    background: #008484;
    height: 73px;
}
header *{
    color:#fff;
}
header h1{
    margin-top: 13px;
}
header h1 a{
    color: #ffffff;
}
/*SOLVE*/
header h1 a:hover{
    color: #FFFAC0;
    text-decoration: none;
}
header ul{
    margin:0;
    padding:0;
    list-style-type: none;
    float:right;
}
header ul li{
    float:left;
    position: relative;
}
header ul li a{
    display: block;
    font-size: 1.2rem;
    text-decoration: none;
    color: #ffffff;
    padding: 22px;
}
header ul li a:hover{
    background: #006669;
    transition: 0.5s;
    color: #fff;
}
header ul li ul{
    position: absolute;
    top: 73px;
    right: 0px;
    width: 180px;
    display: none;
    z-index: 111;
}
header ul li:hover ul{
    display: block;
}
header ul li ul li{
    width: 100%;
}
header ul li ul li a{
    padding: 10px;
    background: white;
    color: #008489;
}
/*КАРУСЕЛЬ*/
.carousel-inner img {
    height: 30%;
  }
.slider-title{
    padding: 30px 0px;
    text-align: center;
}
.carousel-inner{
    height: 400px;
    border-radius: 10px;
}
.carousel{
    height: 400px;
}

.carousel-caption-hack{
    position: absolute;
    bottom: 0.05rem;
    margin-bottom: 13%;
    color:#fff;
    text-align: center;
    width: 100%;
    left:0%;
    right: 0% ;
    padding-top: 1.25rem;
    padding-bottom: 0rem;
}
.carousel-caption h5{
    font-size: 2rem;
    background-color: #000000;
    max-width: 100%;
    padding: 0.3em;
    opacity: 0.5;
}
.carousel-caption h5{
    color:#ffffff;
    text-decoration: none;
    font-weight: 500;
}
.carousel-caption h5 a:hover{
    text-decoration: underline;
}
/*MAIN*/
.main-content h2{
    margin: 30px 0px;
}
.main-content .post{
    margin-bottom: 30px;
}
.main-content .post-text{
    background-color: white;
    padding: 8px;
    border-radius: 10px;
}
.main-content .post-text h3{
    margin: 14px 0;
}
.main-content .post-text h3 a:hover{
     text-decoration: underline;
     color: #5c5b5b;
}
.main-content .post-text i{
    margin-right: 14px;
    margin-bottom: 14px;
}

/*SIDEBAR*/
.search{
    margin-top: 98px;
}
.sidebar .section{
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.sidebar .topics ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    border-top: 1px solid #e0e0e0;
}
.sidebar .topics ul li a{
    display: block;
    padding: 15px 0px 15 px 0px;
    border-bottom: 1px solid #e0e0e0;
    transition: all 0.3s;
    text-decoration: none;
    font-weight: 500;
    color: #5c5b5b;
    font-size: 1.2em;
}
.sidebar .topics ul li a:hover{
    padding-left: 10px;
    transition: all 0.3s;
}
.footer{
    background-color: #303036;
    color: #d3d3d3;
    position: relative;
}
/*
SINGLE POST
*/
.single_post{
    margin-bottom: 30px;
}
.single_post .info{
    margin: 20px 0;
    padding-left: 20px;
}
.single_post .info i{
    display: inline-block;
    margin-right: 20px;
}
.single_post a{
    text-decoration: underline;
}
.single_post a:hover{
    text-decoration: underline;
    color: #008489;
}

/*
forms
*/
.reg_form h2{
    text-align: center;
    margin: 30px, 0;
}
.reg_form input{
    height: 3.3rem;
}
.reg_form a{
    font-size: 1.2em;
    transition: all .3s;
    color: #5c5b5b;
    text-decoration: none;
    margin-left: 60px;
}
.reg_form a:hover{
    margin-left: 55px;
    transition: all .3s;
}
/* FORMS (REG) */
form div.error{
    color: red;
    font-style: italic;
    font-size: 0.8rem;
}
/*COMMENTS*/
.all-comments{
    margin: 1%;

}
.all-comments h3{
    margin-top: 3%;
}
.all-comments .one-comment{
    border: solid #008489;
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #cfcfcf;
}
.all-comments .one-comment span{
    display: inline-flex;
    margin-bottom: 1%;
    font-weight: 1000;
}